@media (max-width: 374px) {
  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  // @@@@@@@@@  REUSABLE CLASSES   @@@@@@@@@
  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  .section-subtitle {
    font-size: 0.8rem;
  }

  .section-title {
    font-size: 1.5rem;
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  // @@@@@@@@@@@@@@@  HEADER  @@@@@@@@@@@@@@@
  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

  // @@@@@@@@@@@@@@@@@@ LOG @@@@@@@@@@@@@@@@@@
  .log__signin {
    grid-template-columns: 85%;
  }

  .log__img {
    width: 200px;
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  // @@@@@@@@@@@@@@@  HOME  @@@@@@@@@@@@@@@
  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  .home__container {
    padding-top: 6rem;
  }

  .home__description {
    margin-bottom: 1.5rem;
    font-size: 0.75rem;
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  // @@@@@@@@@@       BMI       @@@@@@@@@@@
  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  .bmi__message {
    font-size: 0.8rem;
  }

  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  // @@@@@@@@@@@@@@  BRANDS  @@@@@@@@@@@@@@
  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  .brands.section {
    padding: 3rem 0;
  }

  .brands .container {
    padding: 0 1rem;
  }

  .brands__slide {
    padding: 0.8rem 1rem;
  }
}
